@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'poppins', sans-serif;
  transition: all 0.3s ease;
}
body{
  height: 100vh;;
  width: 100%;
  display: flex;
  background-image: linear-gradient( 180deg, #1724da  20%, #ca3256 130%);
}
/* img{
    height: 300px;
    width: auto;
    border-radius: 40px;
    position: inline-block;
    top:20px;
    left: 100px;
} */


p::selection{
  color: #e9e1e1;
  background: #e26683;
}
body::before,
body::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
body::before{
  clip-path: circle(35% at left 20%);
  opacity: 0.4;
  background-image: linear-gradient( 135deg, #d9609c 10%, #a61116 100%);
}
body::after{
  opacity: 0.4;
  clip-path: circle(35% at right 90%);
  background-image: linear-gradient( 135deg, #d9609c 420%,#a61116 100%);
}
header{
  height: 85vh;
  width: 90%;
  background: rgba(148, 152, 152, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 12;
  border-radius: 25px;
  margin: auto;
  position: relative;
}
header .navbar{
  margin: auto;
  width: 100%;
  padding: 35px 50px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.navbar .menu{
  display:flex;
  flex-wrap: wrap;
}
.navbar .front-page a{
  text-decoration: none;
  font-size: 22px;
  color: #000;
  font-weight: 500;
   color:  #f46105;

}
.navbar .menu li{
  list-style: none;
  margin: 0 6px;
}
.navbar .menu a{
  color: #f46105;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.navbar .menu a:hover{
  color: #dc9d9d;
}
.front-page a:hover{
  color: #dc9d9d;
}
.navbar .buttons input{
  outline: none;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  padding: 6px 15px;
  border: none;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg,  #e35e0c  10%, #af1438 100%);
}
.navbar .buttons input:hover{
  transform: scale(0.97);
}
 header .text-content{
   width: 40%;
   margin: 100px 0 0 50px ;
 }
.text-content h2{
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  position: relative;
  bottom: 250px;
}
/* Image Styling */
.image{
    width: 45%;
    text-align: center;
}

.image img{
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
    position: relative;
    left: 600px;
    top: 50px;
}
.text-content p{
  font-size: 15px;
  margin-top: 10px;
  color: #f2f2f2;
  position: relative;
  bottom: 250px;
  
}

header .play-button{
  position: absolute;
  right: 50px;
  bottom: 40px;
}
.play-button .play{
  font-size: 19px;
  font-weight: 500;
   color:  #f46105;
}
.play:hover{
  color:  #dc9d9d;
}
 .play-button .play::before{
   content: '';
   position: absolute;
   height: 3px;
   width: 50px;
   top: 50%;
   /* transform: translateY(-50%); */
   left: -58px;
   background: #f46105;
 }
.play-button i{
 color:  #f46105;
  height: 40px;
  width: 40px;
  border: 3px solid  #6c079e;
  line-height: 38px;
  text-align: center;
  margin-left: 10px;
  border-radius: 8px;
  cursor:context-menu;
}
@media (max-width:850px) {
  header .navbar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
  }
  .navbar .menu {
    margin: 10px 0 20px 0;
  }
  header .text-content{
    margin: 30px 0 0 20px ;
    width: 70%;
  }
  header .text-content h2{
    font-size: 20px;
  }
}
@media (max-width:410px) {
  header{
    height: 100vh;
    width: 100%;
    border-radius: 0px;
  }
  header .navbar{
    padding: 15px 10px;
}
}